body {
    height: 200vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    padding-block: var(--scroll-height);
}

/*Referente a borda*/
.section {
    width: 90vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px);
    margin: 5vh auto;
    padding: 4px;
    background: linear-gradient(90deg, #2596be, #20eca4, #2596be);
    background-size: 200% 200%;
    border-radius: 12px;
    text-align: center;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.div-mae {
    display: grid;
    /* Ativa o Grid Layout */
    grid-template-columns: repeat(2, 1fr);
    /* Duas colunas de largura igual */
    gap: 10px;
    /* Espaço entre as colunas */
}

.sectionII {
    padding: 20px;
    margin: 10px;
    background: linear-gradient(90deg, #6c25be, #20eca4, #2596be);
    background-size: 200% 200%;
    border-radius: 100px;
    transition: all .5s ease-in-out;
}

.hidden-list {
    max-height: 0;              
    opacity: 0;                 
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    background-color: black;
    border-radius: 15px;
    padding: 5px 5px 0px 5px;
}


.hidden-list li {
    border-left: 2px solid #6e20ec;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    color: white;
}

.hidden-list a{
    text-decoration: none;
    font-weight: bold;
}

.hidden-list a:hover{
    text-decoration: underline;
}

.hidden-list li:last-child {
    border-bottom: none;
}

.sectionII p{
    font-size: larger;
    font-weight: bold;
    margin: 10px 0;
}

.sectionIII p{
    font-size: larger;
    font-weight: bold;
    margin: 10px 0;
}

.sectionIV p{
    font-size: larger;
    font-weight: bold;
    margin: 10px 0;
}

.sectionV p{
    font-size: larger;
    font-weight: bold;
    margin: 10px 0;
}

.sectionIII {
    padding: 20px;
    margin: 10px;
    background: -webkit-linear-gradient(190deg, #209aec, #6e20ec, #c020ec);
    background-size: 200% 200%;
    border-radius: 100px;
    transition: all .5s ease-in-out;
}

.sectionIV {
    padding: 20px;
    margin: 10px;
    background: -webkit-linear-gradient(190deg, #a8e6cf, #9be7de, #64b964);
    background-size: 200% 200%;
    border-radius: 100px;
    transition: all .5s ease-in-out;
}

.sectionV {
    padding: 20px;
    margin: 10px;
    background: -webkit-linear-gradient(190deg, #209aec, #6e20ec, #c020ec);
    background-size: 200% 200%;
    border-radius: 100px;
    transition: all .5s ease-in-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

:root {
    --scroll-height: 5px;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-image: linear-gradient(90deg, #086cfc, #20e5ec, #20eca4);
    transition: width 0.2s;
}

/*Referente a secao*/
.grad {
    height: 100%;
    width: 100%;
    font-size: 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0);
    text-align: center;
    box-sizing: border-box;
}

#titulo-saude {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}

.no-gradI, .no-gradII{
    background-color: black; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
    transition: transform 0.3 ease, padding-bottom 0.3 ease;
}

.container, .containerII {
    width: 100%; 
    max-width: 100%; 
}

.outer-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: nowrap; 
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Educação */
#text-grad {
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, #6c25be, #20eca4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease-in-out;
    font-size: 52px;
}

/* Infraestrutura */
#text-gradII {
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(120deg, #4a4a4a, white, #0a74da);;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease-in-out;
    font-size: 52px;
}

/* Saude */
#text-gradIII{
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(120deg, #76c7c0, #34a853, #91e3a5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease-in-out;
    font-size: 52px;
}

/* ADministração */
#text-gradIV{
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(120deg, #27469c, #4fa18e, #0c6570);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease-in-out;
    font-size: 52px;
}

.subtext-grad {
    color: black; 
    display: block;
    margin-top: 10px; 
}

.sectionII:hover{
    transform: scale(1.08);
}

.sectionII:hover .hidden-list{
    max-height: 150px;      
    opacity: 1;   
}

.sectionIII:hover .hidden-list{
    max-height: 150px;
    opacity: 1;
}

.sectionIV:hover .hidden-list{
    max-height: 200px;
    opacity: 1;
}

.sectionIII:hover {
    transform: scale(1.08);
}

#text-grad:hover {
    transform: scale(1.08);
}

#text-gradII:hover {
    transform: scale(1.08);
}

#text-gradIII:hover{
    transform: scale(1.08);
}   

#text-gradIV:hover{
    transform: scale(1.08);
}
.sectionIV:hover{
    transform: scale(1.08);
}

.sectionV:hover{
    transform: scale(1.08);
}

#infra-cont {
    background-color: white;
}

#icon-infra:hover {
    transform: scale(1.025);
}

#icone-celular-2:hover {
    transform: scale(1.025);
}

.grad:hover {
    background-position: right center;
}

/*Referente aos icones*/
#icone-whats{
    color: green;
    font-size: 25px;
    padding-right: 10px;
}

/*Referente a animacao do texto sendo digitado*/
#texto-dinamico {
    font-size: 2rem;
    width: 100%;
    max-width: 90vw;
    overflow: hidden;
    border-right: 2px solid;
    animation: escrevendo 4s steps(48) forwards, blink-caret 0.75s infinite;
}

.links-itens{
    color: blue;
    font-size: larger;
}

/*Para dispositivos menores, como tablets e celulares, o tamanho da fonte e reduzido*/
@media (max-width: 768px) {
    #texto-dinamico {
        font-size: 1.2rem;
        animation: escrevendo 5s steps(30) forwards, blink-caret 0.75s infinite;
    }
}

@media (max-width: 600px) {
    .outer-container {
        grid-template-columns: 1fr; /* Muda para uma coluna em telas pequenas */
    }
}

@keyframes escrevendo {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }
}

@keyframes blink-caret {

    0%,
    100% {
        border-color: transparent
    }
}

@keyframes scroll {
    from {
        scale: 0 1;
    }

    to {
        scale: 1 1;
    }
}

@keyframes oscilando {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform-origin: scale();
    }

    100% {
        transform: scale();
    }
}